.error {
  text-align: center;
  margin-top: 60px;
}

.movieDetailsError {
  text-align: center;
  margin: 60px 0;
  font-size: 48px;
}

.homeRecommendations {
  margin-top: 60px;
  padding: 0 60px;
}

.moviesContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.moviesTitle {
  font-size: 32px;
  font-weight: 200;
}

.moviesSearchResults {
  padding: 8px 0;
  margin-left: 24px;
  font-weight: 300;
  text-shadow: 1px 1px 10px crimson, 1px 1px 10px crimson;
  color: crimson;
  border-bottom: 1.5px crimson solid;
  font-size: 24px;
  display: none;
}

.moviesList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
}

.movieListLoading {
  font-size: 64px;
  color: crimson;
  display: none;
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  animation: loading 1000ms infinite;
}

.movieItem {
  width: 198px;
  margin: 24px 8px;
  background-color: #1e1e1e;
  color: #1a1a1a;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 8px 12px 0px rgb(5, 5, 5, 0.45);
  position: relative;
}

.movieItemLoading {
  width: 198px;
  height: 288px;
  background-color: #1e1e1e;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 8px 12px 0px rgb(5, 5, 5, 0.45);
}

.movieImageWrapper {
  background-color: #1e1e1e;
  width: 100%;
  max-height: 288px;
  overflow: hidden;
  position: relative;
}

.movieImageWrapper img {
  width: 100%;
  max-height: 288px;
  height: 288px;
  transition: all 0.4s ease;
  z-index: -2;
}

.movieImageWrapper:hover img {
  transform: scale(1.04);
  filter: opacity(45%) blur(4px);
}

.movieImageWrapper:hover .movieItemTitle,
.movieImageWrapper:hover .movieItemList {
  opacity: 1;
}

.movieItemTitle {
  position: absolute;
  text-align: left;
  color: #fff;
  font-size: 20px;
  top: 24px;
  left: 16px;
  opacity: 0;
  transition: opacity 400ms ease;
}

.movieItemList {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  z-index: 1;
  opacity: 0%;
  transition: opacity 200ms;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 8px;
}

.movieItemBtn {
  background-color: crimson;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  font-weight: 300;
  outline: none;
  padding: 12px 44px;
  text-align: center;
  color: #fff;
  filter: opacity(75%);
  white-space: nowrap;
}

.movieItemStarNoLike {
  fill: #fff;
  stroke: #fff;
  cursor: pointer;
}

.movieItemStarLike {
  fill: goldenrod;
  stroke: goldenrod;
  cursor: pointer;
}

.moviesSearch {
  display: flex;
  align-items: center;
  background-color: crimson;
  height: 100px;
  padding: 4px 4px 4px 24px;
  width: 100%;
}

.movieSearchInputWrapper {
  flex: 1;
}

.movieSearchInputWrapper input {
  background-color: initial;
  border: none;
  color: #fff;
  font-size: 40px;
  height: 80px;
  width: 100%;
  outline: none;
  -webkit-text-fill-color: #fff;
  font-weight: 300;
}

.movieSearchBtn {
  background-color: initial;
  border: 3px solid #fff;
  border-radius: 8px;
  cursor: pointer;
  height: 80px;
  outline: none;
  width: 100%;
  flex: 0.15 1;
}

.movieSearchBtnIcon {
  width: 40px;
  height: 40px;
  stroke: #fff;
}

.movieInfoRow {
  margin: 0 40px;
}

.movieInfo {
  display: flex;
  margin-bottom: 36px;
}

.movieInfoImg {
  margin-right: 80px;
}

.movieInfoImgLoading {
  width: 300px;
  height: 433px;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 24px;
}

.movieInfoTitleLoading {
  width: 240px;
  height: 48px;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 8px;
}

.movieInfoDetailsLoading {
  width: 40px;
  height: 20px;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 24px;
}

.movieInfoTextLoading {
  width: 450px;
  height: 30px;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 12px;
}

.movieInfoImg > img {
  border-radius: 8px;
  height: 433px;
  width: 300px;
}

.movieInfoTitle {
  font-size: 48px;
  margin-bottom: 8px;
}

.movieInfoDetails {
  display: flex;
  margin-bottom: 24px;
  max-width: 100%;
}

.movieInfoDetails p {
  padding: 4px;
}

.movieOverview {
  margin-bottom: 4px;
}

.movieInfoText {
  letter-spacing: 0.4px;
  line-height: 1.7em;
  margin-bottom: 24px;
}

.movieInfoBtn {
  align-items: center;
  background-color: crimson;
  border-radius: 4px;
  color: #fff;
  display: flex;
  font-size: 16px !important;
  padding: 12px 12px;
  cursor: not-allowed;
}

.movieInfoBtnIcon {
  fill: #fff;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}


@media (max-width: 1200px) {
  .movieInfoTitle {
    font-size: 32px;
  }

  .movieInfoText {
    font-size: 13px;
  }

  .movieInfoBtn {
    padding-right: 14px;
  }
}

@media (max-width: 1024px) {
  .movieInfo {
    flex-direction: column;
  }

  .movieInfoImg > img {
    height: 350px;
    width: 240px;
  }

  .movieInfoText {
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    line-clamp: 6;
    overflow: hidden;
  }
}

@media (max-width: 774px) {
  .moveInfoImg > img {
    height: 433px;
    width: 300px;
  }

  .movieItem {
    width: 180px;
  }
}

@media (max-width: 640px) {
  .movieSearchInputWrapper input {
    font-size: 28px;
  }

  .movieSearchBtnIcon {
    width: 32px;
    height: 32px;
  }

  .movieDetailsError {
    font-size: 24px;
  }
}

@media (max-width: 550px) {
  .movieItem {
    width: 124px;
  }

  .movieImageWrapper,
  .movieImageWrapper img {
    height: 188px;
    max-height: 188px;
  }

  .movieInfoDetails {
    flex-direction: column;
    align-items: flex-start;
  }

  .movieInfoDetails p {
    font-size: 14px;
  }

  .movieInfoDetails span {
    display: none;
  }
}

@media (max-width: 464px) {
  .movieInfoImg > img {
    height: 300px;
    width: 200px;
  }

  .movieInfoText {
    font-size: 12px;
  }

  .movieInfoTitle {
    font-size: 24px;
  }
}

@media (max-width: 400px) {
  .movieSearchBtn {
    display: none;
  }
}
