@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  scroll-behavior: smooth;
}

/* reset */

body {
  color: #fff;
  background-color: #1e1e1e;
}

a {
  text-decoration: none;
}

/* Utility classes */

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.pb-4 {
  padding-bottom: 16px;
}

.content-container {
  overflow: hidden;
  flex: 1;
}

.text-highlight {
  color: crimson;
  font-weight: 300;
}

/* Animations */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
