@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  scroll-behavior: smooth;
}

/* reset */

body {
  color: #fff;
  background-color: #1e1e1e;
}

a {
  text-decoration: none;
}

/* Utility classes */

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.pb-4 {
  padding-bottom: 16px;
}

.content-container {
  overflow: hidden;
  flex: 1;
}

.text-highlight {
  color: crimson;
  font-weight: 300;
}

.w-full {
  width: 100%;
}

.margin-auto {
  margin: 0 auto;
}

/* Page Classes */

.movies-image-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  width: 30%;
}

.movies-image-wrapper img {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.movies-image-wrapper h2 {
  font-weight: 300;
  text-align: center;
}

/* Animations */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1320px) {
  .movies-image-wrapper h2 {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  .movies-image-wrapper {
    width: 220px;
  }
}
